{
  "presets": ["next/babel", "@zeit/next-typescript/babel"],
  "env": {
    "development": {
      "plugins": [
        "inline-dotenv",
        "transform-decorators-legacy",
        "transform-class-properties"
      ]
    },
    "production": {
      "plugins": ["transform-inline-environment-variables"]
    }
  }
}
